form{
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(202, 106, 11);
}
h2{
    color: rgb(202, 106, 11);
    text-align: center;
}

#Name{
   width: 200px;
   text-align: center;

}
#thing{
    width: 300px;
}
